$primary-color : #178ccb;
$primary-color-light : #5dafdb;
$primary-color-light-2 : #a2d1ea;
$primary-color-light-3 : #e8f4fa;

$white-color:#FFF;
$shadow-1:0 0.2rem 1rem rgba(0,0,0,.1);
$shadow-2:0 01rem 1rem rgba(0,0,0,.1);


$gray-light-2:rgb(165, 165, 165);
$gray-light:#5c656d;
$gray-dark:#42474c;
$gray-light-3:rgb(221, 221, 221)