/*footer section*/
.footer{
    
    padding-top: 8rem;
    padding-bottom: 8rem;
    min-height: 40rem;
    background: #24292e;
    color:$gray-light;
    
    /*footer info*/
    &__info{
        
        
        .footer-logo{
            width:15rem;
            img{
                max-width: 100%;
            }
        }
        
        p{
            line-height: 150%;
        }
    }
    /*footer special*/
    &__special {
        padding-top: 2rem;
        @media (max-media:767px){
                padding-left: 2.5rem;
            }
        
        .special__list{
            list-style: none;
            padding-left: 0;
            
            &--item{
                
                &:not(:last-of-type) {
                    margin-bottom: 1rem;    
                }
                
            }
            
            &--link{
                text-decoration: none;
                color:$gray-light;
                transition: all .5s ease-in-out;
                
                &:hover{
                    color:$primary-color;
                }
            }
        }
        
    }
    
    /*footer map*/
    &__map {
        padding-top: 2rem;
        @media (max-media:767px){
                padding-left: 2.5rem;
            }
        
        .map__list{
            list-style: none;
            padding-left: 0;
            
            &--item{
                
                &:not(:last-of-type) {
                    margin-bottom: 1rem;    
                }
                
            }
            
            &--link{
                text-decoration: none;
                color:$gray-light;
                transition: all .5s ease-in-out;
                
                &:hover{
                    color:$primary-color;
                }
            }
        }
        
    }
    
    &__heading{
        color:$white-color;
        font-size: 1.6rem;
        letter-spacing: 1px;
        cursor: pointer;
    }
    /*footer subscribe*/
    &__subscribe{
        
        @media (max-media:767px){
                padding-left: 2.5rem;
            }
        padding-top: 2rem;
        
        .social{
            
            &__list{
                padding-left: 0;
                list-style: none;
                padding-top: 2.5rem;
                &--item{
                    float: left;
                    cursor: pointer;
                    &:not(:last-of-type){
                        margin-right: 1rem;
                    }
                }
                
                &--link{
                    text-decoration: none;
                    color:$gray-light;
                    font-size: 4rem;
                    transition: all .5s ease-in-out;
                    &:hover{
                        color:$primary-color;
                    }
                    
                }
            }
        }
        
        /*subscribe form*/
        .subscribe__form{
            
            
            
            .sub-form{
                background:#000;
                border:1px solid transparent;
                border-radius: .5rem;
                width: 80%;
                position: relative;
                
                
                input{
                    padding: 1rem 1.5rem;
                    border: none;
                    background: transparent;
                    width: 80%;
                    &:focus{
                        outline: none;
                    }
                    
                    @media(max-width:400px){
                        font-size: 1.2rem;
                    }
                    
                }
                
                button{
                    position: absolute;
                    bottom: -1px;
                    top: -1px;
                    right: -1px;
                    background: $primary-color;
                    border: none;
                    width: 25%;
                    border-radius: .5rem;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    color: #FFF;
                    font-size: 2rem;
                    
                }
            }
            
            
        }
    }
    
}
/*footer section*/