body{
    height: 4000px;
}
/*about section*/
.about{
    padding-top:8rem;
    padding-bottom: 8rem;
    @media (max-width:767px){
        padding-bottom: 4rem;        
        padding-top: 4rem;
    }

    &__info{
        padding-top: 5rem;

        @media (max-width:767px){
            text-align: center;
            padding-top: 0;
        }
    }
    &__mock{
        text-align: center;
        img{
            max-width: 100%;
        }
    }

    h1{
        border-bottom: 1px solid #EEE;
        padding-bottom: 2rem;
        width: 25%;
        margin-bottom: 2.5rem;
        @media(max-width: 767px){
            margin: auto;
            margin-bottom: 2.5rem;               
        }
    }
}
/*about section*/
/*special section*/
.special{
    padding-top:8rem;
    padding-bottom: 8rem;
    background: $primary-color-light-3;
    min-height: 50rem;
    text-align: center;

    .main-heading{
        position: relative;
        margin: auto;
        margin-bottom: 5rem;
        padding-bottom: 2.5rem;

        &:after{
            content: "";
            display: block;
            width:10rem;
            height: 1px;
            background: rgb(175, 175, 175);
            position: absolute;
            left:50%;
            top:80%;
            transform:translate(-50%,-50%);

        }
    }
}
/*special section*/

